{% extends 'content/base.html' %}
{% load static %}
{% block content %}
    <h1>Feed</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Content</th>
                <th>Email</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% for feed in content_feed %}

                <tr>
                    <td>{{ feed.content }}</td>
                    <td>{{ feed.email }}</td>
                    <td><img src="{% get_media_prefix %}{{ feed.image }}" width="500"></td>
                <!--어드민 피드 html에서 사진 이미지로 출력되게 -->
                </tr>


            {% endfor %}
        </tbody>
    </table>



{% endblock %}