{% extends 'content/base.html' %}

{% block content %}
    <h1>Feed</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Content</th>
                <th>Email</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% for feed in content_feed %}

                <tr>
                    <td>{{ feed.content }}</td>
                    <td>{{ feed.email }}</td>
                    <td>{{ feed.image }}</td>
                </tr>


            {% endfor %}
        </tbody>
    </table>


{% endblock %}