{% extends 'content/base.html' %}
{% load static %}

{% block content %}
<!-- Jquery -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <h1>Admin Page</h1>

    <form method="post">
      <label for="user_name">User ID:</label>
      <select id="user_name" name="user_name">
        {% for user in users %}
          <option value="user_name">{{ user.name }}</option>
        {% endfor %}
      </select>

      <label for="permission">Permission:</label>
      <select id="permission" name="permission">
        <option value="3">Admin</option>
        <option value="2">Staff</option>
        <option value="1">User</option>
      </select>

      <button id="permission_edit">Submit</button>

    </form>

    <script>

        $('#permission_edit').click(function () {
            alert("수정하기 눌렀다.");

            var user = document.getElementById('user_name');
            user_name = user_name.options[user_name.selectedIndex].text;
            var permission = document.getElementById('permission');
            user_permission = permission.options[permission.selectedIndex].value;
            alert(user_name);
            alert(user_permission);

        $.ajax({
            url: "/content/adminpagepermiss" ,
            data: {
                user_name : user_name,
                user_permission : user_permission,

            },
            method: "POST",
            success: function (data) {
                console.log("성공");
                alert("피드를 수정하였습니다.");
                location.replace('/main');

            },
            error: function (request, status, error) {
                alert("에러");
            },
            complete: function () {
                alert("완료");
            }
        });
    });

  </script>

{% endblock %}
